<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body onload="onoff()">


    <script type="text/javascript">
        function onoff(){
          currentvalue = document.getElementById('status').innerHTML;
          if(currentvalue == "Off"){
            document.getElementById("status").innerHTML="On";
            fetch("http://192.168.1.187/switch/off");
            document.getElementById("light").innerHTML='<img src="../static/imgs/idea_on.png" alt="" srcset="" width="32px">'
          }else{
            document.getElementById("status").innerHTML="Off";
            fetch("http://192.168.1.187/switch/on");
            document.getElementById("light").innerHTML='<img src="../static/imgs/idea_off.png" alt="" srcset="" width="32px">'
          }

        }
        </script>
        
        

      <div class="content">


        

        
        
        <button class="button-85" role="button" id="onoff" onclick="onoff();"><b>Light</b><div id="status"></div><div id="light"></div></button>
        

      </div>

    

</body>
</html>
